@import url('https://fonts.googleapis.com/css2?family=Coiny&display=swap');

.bg {
  background-image: linear-gradient(to top, #9795f0 0%, #fbc8d4 100%);
}

.title {
  font-family: 'Coiny', cursive;
  font-size: 30px;
  color: #6b46c1;
}

#drop {
  margin-top: 25px;
}
