
@media (prefers-color-scheme: light) {
  :root {
    --background-color: #ddd;
    --color: #121212;
    --nav-link-color: #179;
    --affirmative-button-background-color: #00DD99;
    --affirmative-button-color: #252;
    --danger-button-background-color: #DD9977;
    --danger-button-color: #522;
    --view-button-background-color: #0099DD;
    --view-button-color: #225;
  }
}
